

@font-face {
    font-family: 'les_paulextras';
    src: url('lespaul-extras-webfont.woff2') format('woff2'),
         url('lespaul-extras-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'les_paulnormal';
    src: url('lespaul-normal-webfont.woff2') format('woff2'),
         url('lespaul-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'les_pauloutline';
    src: url('lespaul-outline-webfont.woff2') format('woff2'),
         url('lespaul-outline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
height: 100%;
}

body{
    background-image: url(/assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}


.tipo2{
    font-family: 'les_paulextras';
    font-size: 9em;
}

.anuncio{

    top: 4%;
    text-align: center;
    background-image: url(/assets/images/Group\ 1.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 70%
}

.piedraStyle{
    top: 1.3em;
    left:4.7em;
    font-family: 'les_paulnormal';
    color: #FCC814;
    -webkit-text-stroke: 1px #ffff;
    text-shadow: 0 0 20px rgb(255 255 176);
    width: fit-content;
    font-size: 5vw;
    transform: rotate(335deg);
    animation: animate 5s linear infinite;

}

@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #dfb93e;
        text-shadow: none;
    }
    18.1%,20.1%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #ffdf6a;
        text-shadow: 0 0 10px #fde691,
        0 0 20px #fde691,
        0 0 40px #fde691,
        0 0 80px #fde691,
        0 0 160px #fde691;
    }
}
   
    
    .papelStyle{
        top: 1.3em;
        left:  7.5em;
        font-size: 5vw;
        transform: rotate(21deg);
        width: fit-content;
        font-family: 'les_paulnormal';
        -webkit-text-stroke: 1px #ffff;
        animation: papel 3.5s linear infinite;
}

@keyframes papel{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #cc8ca3;
        text-shadow: none;
    }
    18.1%,20.1%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #ffaecc;
        text-shadow: 0 0 20px #ffaecc,
        0 0 20px #ffaecc,
        0 0 40px #ffaecc,
        0 0 80px #ffaecc,
        0 0 160px #ffaecc;
    }
}


.tijeraStyle{
    top: 2.5em;
    left: 6em;
    font-size:5vw;
    width: fit-content;
    font-family: 'les_paulnormal';
    -webkit-text-stroke: 1px #ffff; 
    animation: tijera 2s linear infinite;
    z-index: 0;
}
.tijeraStyle:hover{
    top: 2.5em;
    left: 6em;
    font-size:5vw;
    width: fit-content;
    font-family: 'les_pauloutline';
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.698); 
}
@keyframes tijera{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #4F7E93;
        text-shadow: none;
    }
    18.1%,20.1%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #a6e4ff;
        text-shadow: 0 0 10px #a0e1ff,
        0 0 20px #a0e1ff,
        0 0 40px #a0e1ff,
        0 0 80px #a0e1ff,
        0 0 160px #a0e1ff;
    }
}
.eligeTuOpcion{
    font-family: 'les_paulnormal';
    font-size: 5em;
    color: #D31E4A;
    left: 6em;
    top: 5.5em;
    text-shadow: -1px 0px 20px rgb(255 190 190);
    -webkit-text-stroke: 1px #ffff;
}

@keyframes bola{
    0%
    {
        border: 2px solid #c77e7e;
        background-color: #bb113a;
        box-shadow: none;
    }
   100%
    {
        border: 2px solid #ffe3e3;
        background-color: #f65f5f;
        box-shadow: 0 0 10px #f65f5f,
        0 0 20px #f65f5f,
        0 0 40px #f65f5f,
        0 0 80px #f65f5f,
        0 0 160px #f65f5f;
    }
}

.bol{
    border-radius: 50px;
    width: 1.9em;
    height: 1.9em;
    border: 2px solid white;
    animation: bola 0.5s cubic-bezier(1, 0, 0, 1) infinite;
}

.bola{
    left: 37.9em;
    top: 4.6em;
    animation-delay: 1.3s;
}

.bola1{
    left: 35.2em;
    top: 5.9em;
    animation-delay: 1s;
}



.bola2{
    left: 32.6em;
    top: 7.3em;
    animation-delay: 0.7s;
}

.bola3{
    left: 30.2em;
    top: 8.6em;
    animation-delay: 0.4s;
}
.bola4{
    left: 27.6em;
    top: 10em;
    animation-delay: 0.1s;
}
.bola5{
    left: 25.1em;
    top: 11.2em;
    animation-delay: -0.2s;
}
.bola6{
    left: 22.5em;
    top: 12.7em;
    animation-delay: -0.5s;
}
.bola7{
    left: 19.9em;
    top: 14.1em;
    animation-delay: -0.8s;
}
.bola8{
    left: 17.9em;
    top: 15.7em;
    animation-delay: -1.1s;
}
.bola9{
    left: 40.3em;
    top: 3.2em;
    animation-delay: 1.6s;
}
.bola10{
    left: 42.9em;
    top: 2.9em;
    animation-delay: 1.9s;
}
.bola11{
    left: 45.6em;
    top: 4.2em;
    animation-delay: -1.4s;
}
.bola12{
    left: 48.2em;
    top: 5.4em;
    animation-delay: -1.7s;
}
.bola13{
    left: 50.8em;
    top: 6.7em;
    animation-delay: -2s;
}
.bola14{
    left: 53.4em;
    top: 8em;
    animation-delay: -2.3s;
}
.bola15{
    left: 68em;
    top: 16em;
    animation-delay: -5s;
}
.bola16{
    left: 55.9em;
    top: 9.3em;
    animation-delay: -2.9s;
}
.bola17{
    left: 58.5em;
    top: 10.5em;
    animation-delay: -3.2s;
}
.bola18{
    left: 61.1em;
    top: 11.8em;
    animation-delay: -3.5s;
}
.bola19{
    left: 63.7em;
    top: 13.1em;
    animation-delay: -3.8s;
}
.bola20{
    left: 66.3em;
    top: 14.3em;
    animation-delay: -4.1s;
}
.bola21{
    left: 65.9em;
    top: 17.8em;
    animation-delay: -5.3s;
}
.bola22{
    left: 63.1em;
    top: 19em;
    animation-delay: -5.6s;
}
.bola23{
    left: 60.6em;
    top: 20.2em;
    animation-delay: -5.9s;
}
.bola24{
    left: 58.2em;
    top: 21.4em;
    animation-delay: -6.2s;
}
.bola25{
    left: 55.5em;
    top: 22.7em;
    animation-delay: -6.5s;
}
.bola26{
    left: 52.9em;
    top: 23.9em;
    animation-delay: -6.8s;
    height: 0.87em;
    border-radius: 36px 36px 0px 0px!important;
}
.bola27{
    left: 19.6em;
    top: 17.5em;
    animation-delay: -1.4s;
}
.bola28{
    left: 22.2em;
    top: 18.9em;
    animation-delay: -1.7s;
}
.bola29{
    left: 24.7em;
    top: 20.4em;
    animation-delay: -2s;
}
.bola30{
    left: 27.3em;
    top: 21.6em;
    animation-delay: -2.3s;
}
.bola31{
    left: 29.9em;
    top: 22.9em;
    animation-delay: -2.6s;
}
.bola32{
    left: 32.4em;
    top: 23.9em;
    animation-delay: -2.9s;
    height: 0.87em;
    border-radius: 36px 36px 0px 0px!important;
}

.manPointing{
    top: 28em;
    width: 26vw;
    position: absolute;
}

.tipo7{
    font-family: 'les_pauloutline';
    font-size:5em;
    color: red;
}

.displaySelection{

}
button{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}
.displaySelection img{
    border: 1px solid rgb(255, 0, 0);
    width: 15vw;
}